


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."invoice_type_enum" AS ENUM (
    'HETERO_TO_VENDOR',
    'VENDOR_TO_BASE',
    'BASE_TO_PARTY'
);


ALTER TYPE "public"."invoice_type_enum" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."Base_Company" (
    "base_company_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "base_company_name" "text" NOT NULL,
    "gst_number" "text",
    "address" "text",
    "contact_person" "text",
    "phone" "text",
    "email" "text",
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone
);


ALTER TABLE "public"."Base_Company" OWNER TO "postgres";


COMMENT ON TABLE "public"."Base_Company" IS 'These are nothing but from whom the invoice triggers to the  final vendor. Which  means VPCS, Serene exports etc...';



CREATE TABLE IF NOT EXISTS "public"."Invoice_Items" (
    "Invoice_items_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "invoice_id" "uuid" NOT NULL,
    "material_id" "uuid" NOT NULL,
    "material_name" "text" NOT NULL,
    "weight" numeric(10,2) NOT NULL,
    "hetero_rate" numeric(10,2),
    "customs_tax" numeric(10,2),
    "pcb_charges" numeric(10,2),
    "apemcl_charges" numeric(10,2),
    "material_cost" numeric(10,2),
    "material_price_hetero" numeric(10,2),
    "gst" numeric(10,2),
    "material_price_gst" numeric(10,2),
    "tcs" numeric(10,2),
    "vendor_material_cost" numeric(10,2),
    "material_price_vendor" numeric(10,2),
    "gst_vendor" numeric(10,2),
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."Invoice_Items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Invoices" (
    "invoice_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "invoice_number" "text" NOT NULL,
    "invoice_type" "text" NOT NULL,
    "parent_invoice_id" "uuid",
    "root_shipment_id" "uuid",
    "unit_id" "uuid",
    "vendor_id" "text",
    "base_company_id" "uuid",
    "party_id" "uuid",
    "invoice_date" "date" NOT NULL,
    "payment_date" "date",
    "total_amount" numeric(12,2) DEFAULT 0 NOT NULL,
    "payment_status" "text" DEFAULT 'PENDING'::"text",
    "amount_paid" numeric(12,2) DEFAULT 0,
    "amount_pending" numeric(12,2),
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "remarks" "text",
    CONSTRAINT "check_invoice_type" CHECK (("invoice_type" = ANY (ARRAY['UNIT_TO_VENDOR'::"text", 'VENDOR_TO_BASE'::"text", 'BASE_TO_PARTY'::"text"]))),
    CONSTRAINT "check_payment_status" CHECK (("payment_status" = ANY (ARRAY['PENDING'::"text", 'PARTIAL'::"text", 'PAID'::"text", 'OVERDUE'::"text", 'CANCELLED'::"text"])))
);


ALTER TABLE "public"."Invoices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Materials" (
    "material_id" "uuid" NOT NULL,
    "material_name" "text" NOT NULL,
    "measurement_unit" "text",
    "default_rate" numeric(10,2),
    "created_at" timestamp with time zone
);


ALTER TABLE "public"."Materials" OWNER TO "postgres";


COMMENT ON TABLE "public"."Materials" IS 'Materials - Stores material info ΓÇö e.g., ETP, Stripper, MIX.';



COMMENT ON COLUMN "public"."Materials"."default_rate" IS 'Default base rate per unit of material (e.g., 18.00 for ETP), and it takes max 10 digits including decimals and "."';



CREATE TABLE IF NOT EXISTS "public"."Parties" (
    "party_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "party_name" "text" NOT NULL,
    "address" "text",
    "city" "text",
    "state" "text",
    "contact_person" "text",
    "phone" "text",
    "email" "text",
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone
);


ALTER TABLE "public"."Parties" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Roles" (
    "id" bigint NOT NULL,
    "Role" "text" NOT NULL,
    "Role_Code" integer NOT NULL,
    "Emp_Name" "text" NOT NULL,
    "Login_ID" integer NOT NULL
);


ALTER TABLE "public"."Roles" OWNER TO "postgres";


COMMENT ON COLUMN "public"."Roles"."Emp_Name" IS 'This is the employee name';



COMMENT ON COLUMN "public"."Roles"."Login_ID" IS 'This is used login to VPCS';



ALTER TABLE "public"."Roles" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Roles_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."Shipments" (
    "shipment_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shipment_number" "text" NOT NULL,
    "from_unit_id" "uuid",
    "to_location" "text" NOT NULL,
    "material_id" "uuid" NOT NULL,
    "transporter_id" integer NOT NULL,
    "tanker_number" "text" NOT NULL,
    "quantity_kl" numeric(10,2) NOT NULL,
    "weight_mt" numeric(10,2),
    "dispatch_date" timestamp with time zone NOT NULL,
    "expected_delivery_date" timestamp with time zone,
    "actual_delivery_date" timestamp with time zone,
    "shipment_status" "text" DEFAULT 'IN_TRANSIT'::"text",
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "remarks" "text"
);


ALTER TABLE "public"."Shipments" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."transporter_id_seq"
    START WITH 100
    INCREMENT BY 1
    MINVALUE 100
    MAXVALUE 999
    CACHE 1
    CYCLE;


ALTER SEQUENCE "public"."transporter_id_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Tankers_Info" (
    "Transporter_name" "text" NOT NULL,
    "Tanker_number" "text" NOT NULL,
    "Tanker_capacity" "text",
    "Updated_by" "text",
    "transporter_id" integer DEFAULT "nextval"('"public"."transporter_id_seq"'::"regclass") NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."Tankers_Info" OWNER TO "postgres";


COMMENT ON TABLE "public"."Tankers_Info" IS 'It has information about  tankers.';



COMMENT ON COLUMN "public"."Tankers_Info"."Tanker_number" IS 'Vehicle number';



COMMENT ON COLUMN "public"."Tankers_Info"."Updated_by" IS 'Enter and updated by whom?';



CREATE TABLE IF NOT EXISTS "public"."Transactions" (
    "transaction_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "transaction_number" "text" NOT NULL,
    "transaction_date" "date" NOT NULL,
    "unit_id" "uuid",
    "vendor_id" "text" NOT NULL,
    "base_company_id" "uuid" NOT NULL,
    "party_id" "uuid",
    "shipment_id" "uuid",
    "material_id" "uuid",
    "quantity" numeric(10,2),
    "vendor_invoice_number" "text",
    "base_invoice_number" "text",
    "party_invoice_number" "text",
    "vendor_to_unit_amount" numeric(12,2) DEFAULT 0,
    "base_to_vendor_amount" numeric(12,2) DEFAULT 0,
    "advance_paid_to_vendor" numeric(12,2) DEFAULT 0,
    "advance_payment_date" "date",
    "payment_mode" "text",
    "transaction_reference" "text",
    "bank_name" "text",
    "account_number" "text",
    "pending_due_amount" numeric(12,2) DEFAULT 0,
    "bill_to_party_amount" numeric(12,2) DEFAULT 0,
    "transaction_status" "text" DEFAULT 'IN_PROGRESS'::"text",
    "payment_status" "text" DEFAULT 'PENDING'::"text",
    "created_by" "text",
    "updated_by" "text",
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "comments" "text",
    CONSTRAINT "check_payment_mode" CHECK ((("payment_mode" IS NULL) OR ("payment_mode" = ANY (ARRAY['CASH'::"text", 'CHEQUE'::"text", 'NEFT'::"text", 'RTGS'::"text", 'UPI'::"text", 'BANK_TRANSFER'::"text", 'OTHER'::"text"])))),
    CONSTRAINT "check_payment_status" CHECK (("payment_status" = ANY (ARRAY['PENDING'::"text", 'ADVANCE_PAID'::"text", 'PARTIALLY_PAID'::"text", 'FULLY_PAID'::"text", 'OVERPAID'::"text"]))),
    CONSTRAINT "check_transaction_status" CHECK (("transaction_status" = ANY (ARRAY['IN_PROGRESS'::"text", 'COMPLETED'::"text", 'CANCELLED'::"text"])))
);


ALTER TABLE "public"."Transactions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Units" (
    "unit_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "unit_code" "text" NOT NULL,
    "unit_name" "text",
    "address" "text",
    "city" "text",
    "state" "text",
    "contact_person" "text",
    "phone" "text",
    "email" "text",
    "created_at" timestamp with time zone,
    "created_by" "text"
);


ALTER TABLE "public"."Units" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Vendors" (
    "vendor_id" "text" DEFAULT "substring"("encode"("extensions"."gen_random_bytes"(5), 'hex'::"text"), 1, 5) NOT NULL,
    "vendor_name" "text" NOT NULL,
    "contact_person" "text",
    "gst_number" "text",
    "address" "text",
    "phone" "text",
    "email" "text",
    "created_by" "text",
    "created_at" timestamp with time zone
);


ALTER TABLE "public"."Vendors" OWNER TO "postgres";


COMMENT ON TABLE "public"."Vendors" IS 'Stores all vendor details ΓÇö avoids repeating names in invoices.';



CREATE TABLE IF NOT EXISTS "public"."cashflow" (
    "id" integer NOT NULL,
    "date" "date" NOT NULL,
    "type" character varying(50) NOT NULL,
    "party" character varying(255) NOT NULL,
    "inflow" numeric(12,2) DEFAULT 0,
    "outflow" numeric(12,2) DEFAULT 0,
    "running_balance" numeric(12,2) DEFAULT 0,
    "comments" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"())
);


ALTER TABLE "public"."cashflow" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."cashflow_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."cashflow_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."cashflow_id_seq" OWNED BY "public"."cashflow"."id";



ALTER TABLE ONLY "public"."cashflow" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."cashflow_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."Base_Company"
    ADD CONSTRAINT "Base_Company_base_company_name_key" UNIQUE ("base_company_name");



ALTER TABLE ONLY "public"."Base_Company"
    ADD CONSTRAINT "Base_Company_pkey" PRIMARY KEY ("base_company_id");



ALTER TABLE ONLY "public"."Invoice_Items"
    ADD CONSTRAINT "Invoice_Items_pkey" PRIMARY KEY ("Invoice_items_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_invoice_number_key" UNIQUE ("invoice_number");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_pkey" PRIMARY KEY ("invoice_id");



ALTER TABLE ONLY "public"."Parties"
    ADD CONSTRAINT "Parties_party_name_key" UNIQUE ("party_name");



ALTER TABLE ONLY "public"."Parties"
    ADD CONSTRAINT "Parties_pkey" PRIMARY KEY ("party_id");



ALTER TABLE ONLY "public"."Roles"
    ADD CONSTRAINT "Roles_Login_ID_unique" UNIQUE ("Login_ID");



ALTER TABLE ONLY "public"."Roles"
    ADD CONSTRAINT "Roles_pkey" PRIMARY KEY ("id", "Role");



ALTER TABLE ONLY "public"."Shipments"
    ADD CONSTRAINT "Shipments_pkey" PRIMARY KEY ("shipment_id");



ALTER TABLE ONLY "public"."Shipments"
    ADD CONSTRAINT "Shipments_shipment_number_key" UNIQUE ("shipment_number");



ALTER TABLE ONLY "public"."Tankers_Info"
    ADD CONSTRAINT "Tankers_Info_Tanker_number_key" UNIQUE ("Tanker_number");



ALTER TABLE ONLY "public"."Tankers_Info"
    ADD CONSTRAINT "Tankers_Info_pkey" PRIMARY KEY ("transporter_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_pkey" PRIMARY KEY ("transaction_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_transaction_number_key" UNIQUE ("transaction_number");



ALTER TABLE ONLY "public"."cashflow"
    ADD CONSTRAINT "cashflow_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Materials"
    ADD CONSTRAINT "materials_pkey" PRIMARY KEY ("material_id");



ALTER TABLE ONLY "public"."Units"
    ADD CONSTRAINT "units_pkey" PRIMARY KEY ("unit_id");



ALTER TABLE ONLY "public"."Units"
    ADD CONSTRAINT "units_unit_code_key" UNIQUE ("unit_code");



ALTER TABLE ONLY "public"."Vendors"
    ADD CONSTRAINT "vendors_pkey" PRIMARY KEY ("vendor_id");



CREATE INDEX "idx_cashflow_date" ON "public"."cashflow" USING "btree" ("date");



CREATE INDEX "idx_cashflow_party" ON "public"."cashflow" USING "btree" ("party");



CREATE INDEX "idx_cashflow_type" ON "public"."cashflow" USING "btree" ("type");



CREATE INDEX "idx_invoice_items_invoice" ON "public"."Invoice_Items" USING "btree" ("invoice_id");



CREATE INDEX "idx_invoice_items_material" ON "public"."Invoice_Items" USING "btree" ("material_id");



CREATE INDEX "idx_invoices_base_company" ON "public"."Invoices" USING "btree" ("base_company_id");



CREATE INDEX "idx_invoices_date" ON "public"."Invoices" USING "btree" ("invoice_date");



CREATE INDEX "idx_invoices_parent" ON "public"."Invoices" USING "btree" ("parent_invoice_id");



CREATE INDEX "idx_invoices_party" ON "public"."Invoices" USING "btree" ("party_id");



CREATE INDEX "idx_invoices_payment_status" ON "public"."Invoices" USING "btree" ("payment_status");



CREATE INDEX "idx_invoices_shipment" ON "public"."Invoices" USING "btree" ("root_shipment_id");



CREATE INDEX "idx_invoices_type" ON "public"."Invoices" USING "btree" ("invoice_type");



CREATE INDEX "idx_invoices_unit" ON "public"."Invoices" USING "btree" ("unit_id");



CREATE INDEX "idx_invoices_vendor" ON "public"."Invoices" USING "btree" ("vendor_id");



CREATE INDEX "idx_shipments_dispatch_date" ON "public"."Shipments" USING "btree" ("dispatch_date");



CREATE INDEX "idx_shipments_from_unit" ON "public"."Shipments" USING "btree" ("from_unit_id");



CREATE INDEX "idx_shipments_material" ON "public"."Shipments" USING "btree" ("material_id");



CREATE INDEX "idx_shipments_transporter" ON "public"."Shipments" USING "btree" ("transporter_id");



CREATE INDEX "idx_transactions_advance_date" ON "public"."Transactions" USING "btree" ("advance_payment_date");



CREATE INDEX "idx_transactions_base_company" ON "public"."Transactions" USING "btree" ("base_company_id");



CREATE INDEX "idx_transactions_date" ON "public"."Transactions" USING "btree" ("transaction_date");



CREATE INDEX "idx_transactions_material" ON "public"."Transactions" USING "btree" ("material_id");



CREATE INDEX "idx_transactions_party" ON "public"."Transactions" USING "btree" ("party_id");



CREATE INDEX "idx_transactions_payment_status" ON "public"."Transactions" USING "btree" ("payment_status");



CREATE INDEX "idx_transactions_vendor" ON "public"."Transactions" USING "btree" ("vendor_id");



ALTER TABLE ONLY "public"."Invoice_Items"
    ADD CONSTRAINT "Invoice_Items_invoice_id_fkey" FOREIGN KEY ("invoice_id") REFERENCES "public"."Invoices"("invoice_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Invoice_Items"
    ADD CONSTRAINT "Invoice_Items_material_id_fkey" FOREIGN KEY ("material_id") REFERENCES "public"."Materials"("material_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_base_company_id_fkey" FOREIGN KEY ("base_company_id") REFERENCES "public"."Base_Company"("base_company_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_parent_invoice_id_fkey" FOREIGN KEY ("parent_invoice_id") REFERENCES "public"."Invoices"("invoice_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "public"."Parties"("party_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_root_shipment_id_fkey" FOREIGN KEY ("root_shipment_id") REFERENCES "public"."Shipments"("shipment_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."Units"("unit_id");



ALTER TABLE ONLY "public"."Invoices"
    ADD CONSTRAINT "Invoices_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."Vendors"("vendor_id");



ALTER TABLE ONLY "public"."Shipments"
    ADD CONSTRAINT "Shipments_from_unit_id_fkey" FOREIGN KEY ("from_unit_id") REFERENCES "public"."Units"("unit_id");



ALTER TABLE ONLY "public"."Shipments"
    ADD CONSTRAINT "Shipments_material_id_fkey" FOREIGN KEY ("material_id") REFERENCES "public"."Materials"("material_id");



ALTER TABLE ONLY "public"."Shipments"
    ADD CONSTRAINT "Shipments_transporter_id_fkey" FOREIGN KEY ("transporter_id") REFERENCES "public"."Tankers_Info"("transporter_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_base_company_id_fkey" FOREIGN KEY ("base_company_id") REFERENCES "public"."Base_Company"("base_company_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_material_id_fkey" FOREIGN KEY ("material_id") REFERENCES "public"."Materials"("material_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "public"."Parties"("party_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_shipment_id_fkey" FOREIGN KEY ("shipment_id") REFERENCES "public"."Shipments"("shipment_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "public"."Units"("unit_id");



ALTER TABLE ONLY "public"."Transactions"
    ADD CONSTRAINT "Transactions_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."Vendors"("vendor_id");



CREATE POLICY "Allow select for all users" ON "public"."Invoice_Items" FOR SELECT USING (true);



CREATE POLICY "Allow select for all users" ON "public"."Invoices" FOR SELECT USING (true);



CREATE POLICY "Allow select for all users" ON "public"."Roles" FOR SELECT USING (true);



CREATE POLICY "Allow select for all users" ON "public"."Transactions" FOR SELECT USING (true);



CREATE POLICY "Allow select for all users" ON "public"."Units" FOR SELECT USING (true);



ALTER TABLE "public"."Base_Company" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Enable DELETE for authenticated users only" ON "public"."Shipments" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Invoice_Items" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Invoices" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Parties" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Roles" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Shipments" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Transactions" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Units" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable INSERT for authenticated users only" ON "public"."Vendors" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable UPDATE for authenticated users only" ON "public"."Shipments" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable delete access for authenticated users" ON "public"."Materials" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete access for authenticated users" ON "public"."cashflow" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Base_Company" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Invoice_Items" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Invoices" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Parties" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Roles" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Tankers_Info" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Transactions" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Units" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable delete for authenticated users only" ON "public"."Vendors" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Enable insert access for authenticated users" ON "public"."Materials" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable insert access for authenticated users" ON "public"."cashflow" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable insert for authenticated users only" ON "public"."Base_Company" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable insert for authenticated users only" ON "public"."Tankers_Info" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable read access for all users" ON "public"."Base_Company" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."Parties" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."Roles" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."Shipments" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."Tankers_Info" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."Vendors" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for authenticated users" ON "public"."cashflow" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable select access for authenticated users" ON "public"."Materials" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable update access for authenticated users" ON "public"."Materials" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for authenticated users" ON "public"."cashflow" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Base_Company" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Invoice_Items" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Invoices" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Parties" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Roles" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Tankers_Info" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Transactions" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Units" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for authenticated users only" ON "public"."Vendors" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



ALTER TABLE "public"."Invoice_Items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Invoices" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Materials" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Parties" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Roles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Shipments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Tankers_Info" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Transactions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Units" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Vendors" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cashflow" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."Base_Company" TO "anon";
GRANT ALL ON TABLE "public"."Base_Company" TO "authenticated";
GRANT ALL ON TABLE "public"."Base_Company" TO "service_role";



GRANT ALL ON TABLE "public"."Invoice_Items" TO "anon";
GRANT ALL ON TABLE "public"."Invoice_Items" TO "authenticated";
GRANT ALL ON TABLE "public"."Invoice_Items" TO "service_role";



GRANT ALL ON TABLE "public"."Invoices" TO "anon";
GRANT ALL ON TABLE "public"."Invoices" TO "authenticated";
GRANT ALL ON TABLE "public"."Invoices" TO "service_role";



GRANT ALL ON TABLE "public"."Materials" TO "anon";
GRANT ALL ON TABLE "public"."Materials" TO "authenticated";
GRANT ALL ON TABLE "public"."Materials" TO "service_role";



GRANT ALL ON TABLE "public"."Parties" TO "anon";
GRANT ALL ON TABLE "public"."Parties" TO "authenticated";
GRANT ALL ON TABLE "public"."Parties" TO "service_role";



GRANT ALL ON TABLE "public"."Roles" TO "anon";
GRANT ALL ON TABLE "public"."Roles" TO "authenticated";
GRANT ALL ON TABLE "public"."Roles" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Roles_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Roles_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Roles_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Shipments" TO "anon";
GRANT ALL ON TABLE "public"."Shipments" TO "authenticated";
GRANT ALL ON TABLE "public"."Shipments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."transporter_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."transporter_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."transporter_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Tankers_Info" TO "anon";
GRANT ALL ON TABLE "public"."Tankers_Info" TO "authenticated";
GRANT ALL ON TABLE "public"."Tankers_Info" TO "service_role";



GRANT ALL ON TABLE "public"."Transactions" TO "anon";
GRANT ALL ON TABLE "public"."Transactions" TO "authenticated";
GRANT ALL ON TABLE "public"."Transactions" TO "service_role";



GRANT ALL ON TABLE "public"."Units" TO "anon";
GRANT ALL ON TABLE "public"."Units" TO "authenticated";
GRANT ALL ON TABLE "public"."Units" TO "service_role";



GRANT ALL ON TABLE "public"."Vendors" TO "anon";
GRANT ALL ON TABLE "public"."Vendors" TO "authenticated";
GRANT ALL ON TABLE "public"."Vendors" TO "service_role";



GRANT ALL ON TABLE "public"."cashflow" TO "anon";
GRANT ALL ON TABLE "public"."cashflow" TO "authenticated";
GRANT ALL ON TABLE "public"."cashflow" TO "service_role";



GRANT ALL ON SEQUENCE "public"."cashflow_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."cashflow_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."cashflow_id_seq" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







